.together-time-section {
  padding-bottom: 0!important;
}

.together-time {
  margin-top: 28px;
  text-align: center;
}

.together-value {
  margin-top: 6px;
  margin-bottom: 20px;
  font-size: 1.2rem;
  color: #555;
}

